tmusic.site {
    encode gzip

    @backend path /api/* /realtime /realtime/*
    handle @backend {
        reverse_proxy api:4100
    }

    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}

www.tmusic.site {
    redir https://tmusic.site{uri} permanent
}